extends layout

block header
	#header-outer-wrap
		#header-inner-wrap
			#header-auth Josh Kirklin
			#header-title = new code.blog(this);

block content
	#body-inner-wrap.dynamic-wrapper
		#post-body
			span.post-active-id= tPost._id
			h1.post-title= tPost.title
			p
				span.post-date= tPost.date
				span.post-tags
					each iTag, i in tPost.tags
						a(href="/blog/search/#{iTag}")= iTag
						if i < (tPost.tags.length - 1)
							| ,&nbsp;
			#loader
				img(src="/common/themes/default/loader-ring.gif")
			#post-content
				| #{tPost.content}
		#recent-posts

block footer
	#footer-outer-wrap